<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAppTemplate"
        tools:targetApi="31">

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.details.MapaTesouroActivity"
            android:exported="false" />
        <activity

            android:name=".MainActivity"
            android:exported="true">

        </activity>


        <activity-alias
            android:name=".MapaAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mapa"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_mapa_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".EscuroAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_escuro"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_escuro_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ClaroAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_claro"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_claro_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".DefaultAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_default"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_default_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.details.DetalheTesouroActivity" />
    </application>

</manifest>